:root {
    --main-bg-color: #F1F0D2;
    --section-card-color: #EAE5A6;
    --accent-yellow: #f8c000;
    --nav-bar: #DBD2B6;
    --register-buttons: #A98017;
    --cards: #EBE8BC;
    --message-boxes: #F6CE6B;
    --message-boxes-fail: #7A4300;
    --buttons: #A98017;
    --light-red: #ccc;
    --primary-color: #f0e68c;
    --secondary-color: #ffd700;
    --hover-color: #e5b000;
    --text-dark: #333;
    --text-light: white;
    --text-grey: #555;
    --background-dark: #444;
    --form-title-color: #8b4513;
    --data-colors: #E8AD37;
    --hint-text: rgba(169, 128, 23, 1);
    --water-blue: #016bff;
    --border-radius: 15px;
    --padding-main: 60px;
}

html {
    scroll-padding-top: 80px;
}

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-dark);
}

/* Utility Classes */
h1,
h2,
h3 {
    color: var(--text-dark);
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom: 20px;

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.6;
    font-size: 20px;
    white-space: pre-line;
}

/* Section Styling */
.content-section {
    background-color: var(--section-card-color);
    padding: var(--padding-main);
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    height: 610px;
}

/* --- Navigation Bar --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--padding-main);
    background-color: var(--nav-bar);
    border-radius: var(--border-radius);
    position: sticky;
    /* To make the navigation bar in this 
    position even in scrolling
    */
    top: 0;
    /* High value was declared so that 
    it will stays above anything else
    */
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.logo img {
    width: 60px;
    height: 60px;
    transform: rotate(-20deg);
    margin-right: 8px;
}

.navbar ul {
    list-style: none;
    display: flex;
    font-size: 20px;
    gap: 25px;
}

.navbar ul a {
    text-decoration: none;
    color: var(--text-grey);
    font-weight: bold;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.navbar ul a:hover {
    color: var(--hover-color);
    font-size: 22px;
}

.nav-buttons a {
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn-login {
    color: var(--buttons);
    margin-right: 10px;
}

.btn-signup {
    background-color: var(--buttons);
    color: var(--text-light);
}

.btn-login,
.btn-signup {
    border: 2px solid var(--buttons);
}

.btn-signup:hover,
.btn-login:hover {
    background-color: var(--hover-color);
    color: var(--text-light);
}

.about-image {
    max-width: 100%;
    height: auto;
    padding: 30px;
    border-radius: 10px;
}

/* Handling messages displayed */
/* Background decrease opacity*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    height: 300px;
    padding: 50px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: center;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}

.success {
    background-color: var(--message-boxes);
}

.fail {
    background-color: var(--message-boxes-fail);
}

/* Bee displayed inside the image */
.messagebee {
    width: 120px;
    vertical-align: middle;
    margin-bottom: 10px;
}

/* Message text */
.message p {
    color: var(--text-light);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}

/* button */
.close-btn {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-dark);
}